header {
  height: 80px;
  background-color: black;
  width: 100%;
}

.title01 {
  color: white;
  padding-left: 40px;
  padding-top: 20px;
}

.title02 {
  color: #B22222;
  padding-left: 100px;
  padding-top: 20px;
  margin-top: 100px;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  box-shadow: 1px 15px 30px gainsboro;
}

.title03 {
  width: 80%;
}

th {
  background-color: #B22222;
  color: white;
  font-weight: lighter;

}

th, td {
  border-bottom: 1px solid #D3D3D3;
  padding: 20px;
  font-size: 18px;
}

.content-left {
  background-color: #DDDDDD;
}

.content-right {
  text-align: right;
}
